/* portfolio.scss */
.investment-modal {
  display: flex;
  margin-top: 30px;

  flex-direction: column;
  gap: 40px;
  .modal-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .saved-coins {
    display: flex;
    flex-direction: column;
    gap: 15px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      > div {
        display: flex;
      }
    }
    li {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    li:not(:first-of-type) {
      margin-top: 10px;
    }
    .saved-coin-name {
      color: #e74c3c;
      font-family: "Montserrat-Medium";
    }
    .saved-value {
      font-family: "Montserrat-Medium";
    }
  }

  .search-bar {
    min-width: 187px;
    display: flex;
    align-items: start;
    position: relative;
    z-index: 99;
    justify-content: right;
    [data-simplebar] {
      left: 0;
      top: 45px;
    }
    .search-results {
      top: 35px;
    }
  }
  .simplebar-content .coin {
    cursor: pointer;
  }
  .save-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    padding: 15px;
    font-family: "Montserrat-SemiBold";
    color: #fff;
    background-color: #25c077;
    border-radius: 5px;
    &:hover {
      animation: pulse 1s infinite;
      transition: 0.3s;
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
}
.investment-calculator-modal {
  background: white;
  padding: 20px;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  .description {
    font-family: "Montserrat-SemiBoldItalic";
    margin-top: 15px;
    max-width: calc(100% - 150px);
  }
  
  .close-button {
    position: absolute;
    top: 25px;
    cursor: pointer;
    right: 20px;
  }
}

.investments-wrapper {
  padding: 20px 0 10px 0;

  .coin-name {
    color: #a70532;
  }
  .title.red {
    margin-top: 7px;
  }
  .coin-number-amount {
    font-family: "Montserrat-Italic";
    margin-bottom: 10px;
    display: block;
  }
}

.investment-calculator-overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);

  .modal-button {
    margin: 30px auto 0;
  }
}
.profit-loses {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-button {
  border-radius: 5px;
  padding: 20px;
  font-family: "Montserrat-SemiBold";
  cursor: pointer;
  display: inline-block;
  margin: 0 auto 50px;
}
.remove-button {
  margin-left: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-top: 3px;
}
.investment-calculator {
  width: 50vw;
}

.input-container {
  position: relative;
  margin-bottom: 25px;
  margin-top: 20px;
  border-bottom: 2px solid lightgray;
  max-width: 320px;
}
.input-container label {
  position: absolute;
  top: 15px;
  left: 0px;
  font-size: 16px;
  color: black;
  pointer-event: none;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  width: 100% !important;
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  border: none;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: black;
}
.input-container input:focus {
  border: none;
  outline: none;
}

.input-container input:focus ~ label {
  top: -12px;
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  .investment-calculator-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 600px;
    overflow: auto;
    right: auto;
    min-width: 500px;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1023px) {
  .modal-button.default-button {
    padding: 15px;
    position: relative;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-btn-wrapper {
    max-width: 600px;
    margin: 0 auto;
  }
  .investment-calculator-modal {
    overflow: auto;
    max-height: 100%;
    .description {
      max-width: 100%;
    }
    .search-bar {
      margin-top: 20px;
    }
    .investment-modal {
      margin-top: 0;
      .saved-coins {
        padding-bottom: 50px;
        ul {
          flex-direction: column;
          > div {
            display: flex;
            gap: 10px;
          }
          li {
            width: max-content;
          }
        }
      }
    }
    .modal-wrapper {
      flex-direction: column;
      gap: 20px;
    }
    .investment-calculator {
      width: 100%;
    }
    .input-container input {
      width: 100% !important;
    }
    .save-button {
      position: relative;
      width: max-content;
      right: auto;
      bottom: auto;
    }
    .modal-button.default-button {
      bottom: 30px;
      left: 15px;
      position: absolute;
    }
  }
}
