.header {
    align-items: center;
      display: grid;
      grid-template-columns: 50% 50%;
      max-height: 112px;
      min-height: 112px;
      padding: 30px 32px;
      max-width: 1920px;
    }
  
    .header-title{
      display: flex;
      align-items: center;
    }
  
    .header-logo{
      text-align: left;
      img{
          width: 75px;
      }
    }
  
    .header-contents{
      display: flex;
      justify-content: right;
      align-items: flex-end;
      flex-direction: column;
      .header-content-item{
          cursor: pointer;
          padding: 5px;
      }
         
    }
  
    @media screen and (max-width: 639px) {
     
    }