/* portfolio.scss */
.investment-modal{
  display: flex;
  justify-content: space-between;
  .search-bar{
    min-width: 187px;
    display: flex;
    align-items: start;
    justify-content: right;
    [data-simplebar]{
      left: 0;
      top: 45px;
    }
  }
  .simplebar-content .coin {
    cursor: pointer;
  }
  .save-button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    padding: 20px;
    font-family:  "Montserrat-SemiBold";
    color: #fff;
    background-color: #25c077;
    border-radius: 5px;
    &:hover {
      animation: pulse 1s infinite;
      transition: .3s;
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }
}
.investment-calculator-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    min-width: 500px;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .investments-wrapper{
    padding: 20px 0 10px 0;

    .coin-name{
      color: #a70532;
    }
    .title.red{
      margin-top: 7px;
    }
    .coin-number-amount{
      font-family: 'Montserrat-Italic';
      margin-bottom: 10px;
      display: block;

    }
  }
  
  .investment-calculator-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);

    .modal-button{
    margin: 30px auto 0;
    }
  }
  .profit-loses{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .modal-button {
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto 50px;
  }

  .investment-calculator{
    width: 50vw;
      .description{
        font-family: 'Montserrat-SemiBoldItalic';
        margin-top: 15px;
      }
  }

  .input-container{
    position:relative;
    margin-bottom:25px;
    margin-top: 20px;
  }
  .input-container label{
    position:absolute;
    top:15px;
    left:0px;
    font-size:16px;
    color:black;	
      pointer-event:none;
    transition: all 0.5s ease-in-out;
  }
  .input-container input{ 
    width: 50% !important;
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:black;
  }
  .input-container input:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid #e74c3c;	
  }
  
  .input-container input:focus ~ label{
    top:-12px;
    font-size:12px;
    
  }
  
  @media screen and (max-width: 960px) {
.modal-button.default-button{
  padding: 15px;
  position: relative;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translateX(-50%);
}
    
    }