h1, h2, h3, h4, h5,
.hdl-1, .hdl-2, .hdl-3, .hdl-4, .hdl-5{
  font-family: "Montserrat-SemiBold";
  color: #214d44;
  margin: 0;
}

.main-nav {
  padding: 25px 0;
  background-color: #efeff0;

  .main-header{
    margin-top: 0;
  }

  a {
    text-decoration: none;
    color: #666;

    &:visited{
      color: #666;
    }

  }

  .hdl-4.line-separator{
    padding-right: 15px;
    position: relative;

    &:after{
      content: "";
      position: absolute;
      height: 100%;
      right: 0;
      width: 2px;
      background-color: grey;
    }
  }

  .hdl-4{
    &.left-space{
      margin-left: auto;
    }
  }
}

body {
  font-family: "Montserrat-Regular";
  color: #075054;
  margin: 0;
  background-color: #FBFBFB;
}

.main-header{
  display: flex;
  gap: 15px;

  > div {
    cursor: pointer;
  }
}

ul { 
  padding: 0;
  li {
  list-style-type: none;
}
}

.cp-text,
.cp-link,
.cp-text-m,
.cp-link-m,
.cp-text-s,
.cp-link-s {
  color: #4e5c67;

    &--light {
      font-family: "Montserrat-Light";
    }

    &--semi-bold {
      font-family: "Montserrat-SemiBold";
    }

    &--medium {
      font-family: "Montserrat-Medium";
    }
}

.cp-text,
.cp-link {
    font-size: 15px;
    line-height: 20px;
}

.cp-text-m,
.cp-link-m {
    font-size: 14px;
    line-height: 19px;
}

.cp-text-s,
.cp-link-s {
    font-size: 12px;
    line-height: 16px;
}

p{
  margin: 0;
}

.cp-link {
  text-decoration: underline;
  color: #a70532;
}

main {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 1920px;
  position: relative;
}

.container{
  max-width: calc(100% - 64px);
  margin: 0 auto;
}

.loading{
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  > * {
    opacity: 0;
  }

  &:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c8cdcf70;
    border-radius: 10px;
    opacity: .5;
  }
  &:after {
    content:"";
    width: 25px;
    height: 25px;
    border: 2px solid rgb(137 137 137 / 10%);
    border-left-color: #975353;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 1500px) {
  h1, .hdl-1 {
      font-size: 27px;
      line-height: 35px;
  }

  h2, .hdl-2 {
      font-size: 24px;
      line-height: 31px;
  }

  h3, .hdl-3 {
      font-size: 19px;
      line-height: 25px;
  }

  h4, .hdl-4 {
      font-size: 18px;
      line-height: 23px;
  }

  h5, .hdl-5 {
      font-size: 17px;
      line-height: 21px;
  }
}

@media screen and (min-width: 1500px) {
  h1, .hdl-1 {
      font-size: 42px;
      line-height: 52px;
  }

  h2, .hdl-2 {
      font-size: 34px;
      line-height: 44px;
  }

  h3, .hdl-3 {
      font-size: 21px;
      line-height: 32px;
  }

  h4, .hdl-4 {
      font-size: 18px;
      line-height: 23px;
  }

  h5, .hdl-5 {
      font-size: 17px;
      line-height: 21px;
  }
}